@import './Fonts.scss';

/*
FONTS - ROBOTO
300,400,500,700,900
*/

@mixin font($size : 16px, $weight : 400, $lineHeight : normal, $cor : $cinza_500, $style : normal, $upper : none)
{
    font-family:'Roboto', sans-serif;
    font-size:$size;
    font-weight:$weight;
    line-height:$lineHeight;
    color:$cor;
    font-style:$style;
    text-transform:$upper;
}

.Typography
{
    font-family:'Roboto', sans-serif; color: $cinza_500;

    &.H1 {font-size: 60px; line-height: 60px; font-weight: 300;} 
    &.HB1 {font-size: 60px; line-height: 60px; font-weight: 500;} 

    &.H2 {font-size: 40px; line-height: 50px;font-weight: 300;} 
    &.HB2 {font-size: 46px; line-height: 50px; font-weight: 500;} 

    &.H3 {font-size: 30px; line-height: 38px; font-weight: 300;} 
    &.HB3 {font-size: 30px; line-height: 38px; font-weight: 500;} 
    &.HBB3 {font-size: 38px; line-height: 40px; font-weight: 500;} 

    &.H4L {font-size: 20px; line-height: 30px; font-weight: 300;} 
    &.H4 {font-size: 20px; line-height: 30px; font-weight: 400;} 
    &.HB4 {font-size: 20px; line-height: 30px; font-weight: 500;} 

    &.H5 {font-size: 18px; line-height: 30px; font-weight: 300;} 
    &.HB5 {font-size: 18px; line-height: 30px; font-weight: 500;}

    &.TR {font-size: 16px; line-height: 24px; font-weight: 400;} 
    &.TM {font-size: 16px; line-height: 24px; font-weight: 500;} 
    &.TB {font-size: 16px; line-height: 20px; font-weight: 700;}

    &.MR {font-size: 15px; line-height: 18px; font-weight: 300;} 
    &.MSB {font-size: 15px; line-height: 18px; font-weight: 500;} 
    &.MB {font-size: 15px; line-height: 18px; font-weight: 700;}

    &.XR {font-size: 15px; line-height: 22px; font-weight: 400;} 
    &.XSB {font-size: 15px; line-height: 22px; font-weight: 500;} 
    &.XB {font-size: 15px; line-height: 18px; font-weight: 700;}

    &.XXR {font-size: 14px; line-height: 20px; font-weight: 400;} 
    &.XXB {font-size: 14px; line-height: 16px; font-weight: 700;} 

    &.XXXR {font-size: 13px; line-height: 15px; font-weight: 400;} 

    &.SL {font-size: 13px; line-height: 18px; font-weight: 300;} 
    &.SR {font-size: 13px; line-height: 18px; font-weight: 400;} 
    &.SM {font-size: 13px; line-height: 18px; font-weight: 500;} 

    &.txColor
    {
        &.Azul_100 {color: $azul_100;}
        &.Azul_300 {color: $azul_300;}
        &.Azul_500 {color: $azul_500;}
        &.Azul_700 {color: $azul_700;}
        &.Azul_900 {color: $azul_900;}

        &.VerdeClaro_300 {color: $verdeClaro_300;}
        &.VerdeClaro_500 {color: $verdeClaro_500;}
        &.VerdeClaro_700 {color: $verdeClaro_700;}
        &.VerdeClaro_900 {color: $verdeClaro_900;}

        &.Verde_100 {color: $verde_100;}
        &.Verde_300 {color: $verde_300;}
        &.Verde_500 {color: $verde_500;}
        &.Verde_700 {color: $verde_700;}
        &.Verde_900 {color: $verde_900;}

        &.Cinza_100 {color: $cinza_100;}
        &.Cinza_300 {color: $cinza_300;}
        &.Cinza_500 {color: $cinza_500;}
        &.Cinza_700 {color: $cinza_700;}
        &.Cinza_900 {color: $cinza_900;} 

        &.White {color: #fff;}
    }
}